/*
 * jsTree apple theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

/*.jstree-dotse > ul { background:url("bg.jpg") left top repeat; }*/
.jstree-dotse li, 
.jstree-dotse ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-dotse li { background-position:-90px 0; background-repeat:repeat-y;  }
.jstree-dotse li.jstree-last { background:transparent; }
.jstree-dotse .jstree-open > ins { background-position:-72px 0; }
.jstree-dotse .jstree-closed > ins { background-position:-54px 0; }
.jstree-dotse .jstree-leaf > ins { background-position:-36px 0; }

.jstree-dotse a { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; color:#333; }
.jstree-dotse .jstree-hovered { background:#fbfbfb; border:1px solid #CCC; padding:0 3px 0 1px; text-shadow:1px 1px 1px silver; }
.jstree-dotse .jstree-clicked { background:#999; border:1px solid #999; padding:0 3px 0 1px; }
.jstree-dotse a .jstree-icon { background-position:-56px -20px; }
.jstree-dotse a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-dotse.jstree-focused {  }

.jstree-dotse .jstree-no-dots li, 
.jstree-dotse .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-dotse .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-dotse .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-dotse .jstree-no-icons a .jstree-icon { display:none; }

.jstree-dotse .jstree-search { font-style:italic; }

.jstree-dotse .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-dotse .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-dotse .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-dotse .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-dotse .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-dotse .jstree-checked > a > .checkbox:hover { background-position:-38px -37px; }
.jstree-dotse .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-dotse .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-dotse ins { background:transparent !important; }
#vakata-dragged.jstree-dotse .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-dotse .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-dotse { background:url("d.png") -41px -57px no-repeat !important; }

.jstree-dotse a.jstree-search { color:aqua; }

#vakata-contextmenu.jstree-dotse-context, 
#vakata-contextmenu.jstree-dotse-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-dotse-context li { }
#vakata-contextmenu.jstree-dotse-context a { color:black; }
#vakata-contextmenu.jstree-dotse-context a:hover, 
#vakata-contextmenu.jstree-dotse-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-dotse-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-dotse-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-dotse-context li.vakata-separator { border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-dotse-context li ul { margin-left:-4px; }

/* TODO: IE6 support - the `>` selectors */